.subtitle,
.date {
  font: 400 1.5rem/1 var(--fontDisplay);
  color: var(--c1);
}
.title {
  font: 700 2.5rem/0.8 var(--fontDisplay);
  color: var(--c1);
  grid-column: 1/-1;
  position: relative;
  margin-bottom: 1.4rem;
}

.card a {
  color: var(--c1);
}

.card {
  max-width: 680px;
  width: 100%;
  background-color: white;
  padding: 2rem;
  border-radius: var(--borderRadius);
  display: grid;
  grid-template-columns: 1fr auto;
  cursor: pointer;
}

.active {
  box-shadow: 0 0 0 4px #271bb5;
}

.description {
  font: 400 1.5rem/1.2 var(--fontDisplay);
  color: var(--c1);
  grid-column: 1/-1;
  margin-top: 0.5rem;
}

.subtitle::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -10px;
  width: 2px;
  height: 13px;
  background: var(--primaryColor);
}

.subtitle {
  grid-column: 1/-1;
  position: relative;
  margin-bottom: 1rem;
}

.icons {
  grid-column: 2;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.icons a {
  padding: 0.5rem;
}

.details {
  position: relative;
  overflow: hidden;
}

.details span {
  z-index: 1;
  position: absolute;
  width: 100%;
  padding: 1rem;
  background: white;
  bottom: 0px;
}

.tecnologias {
  position: absolute;
  display: flex;
  z-index: 1;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
}

.tecnologias li {
  padding: 0.6rem;
  background-color: white;
  border-radius: calc(var(--borderRadius) / 2);
  font: 400 1.3rem/1 var(--fontDisplay);
  color: var(--c1);
}

.details span {
  font: 500 1.3rem/1.3 var(--fontDisplay);
  color: var(--c1);
}

@media (max-width: 768px) {
  .title {
    font-size: 1.7rem;
    line-height: 1.5rem;
  }
  .subtitle,
  .date {
    font-size: 1.2rem;
  }
}
