.wrapperConhecimentos {
  background-color: white;
  margin-top: 30rem;
  margin-bottom: 10rem;
  padding: 0 4rem;
}

.conhecimentos {
  padding: 10rem 0;
  display: grid;
  align-items: center;
  justify-items: center;
}

.conhecimentos h1 {
  color: var(--c1);
  margin-bottom: 6rem;
  margin-top: -2rem;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  overflow: hidden;
}

.icons svg {
  height: 100px;
  width: 100px;
}

@media (max-width: 768px) {
  .wrapperConhecimentos {
    margin: 2rem auto;
    padding: 0 1rem;
  }
  .conhecimentos {
    padding: 5rem 0;
  }
}
