.wrapperConhecimentos {
  background-color: white;
  display: grid;
  gap: 4rem;
  margin-top: 30rem;
  margin-bottom: 10rem;
}

.conhecimentos {
  padding: 10rem 0;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 7rem;
}

.conhecimentos h1 {
  font: 700 4.5rem/1 var(--fontDisplay);
  color: var(--c1);
}

.icons {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.icons svg {
  height: 100px;
  width: 100px;
}
