.contato {
  display: grid;
  margin: 20rem auto;
}

.contato span {
  text-align: center;
}

.contato h1 {
  text-align: center;
  margin-bottom: 4rem;
  margin-top: -2rem;
}

.lista {
  display: flex;
  gap: 3rem;
  margin: 0 auto;
  flex-direction: column;
}

.lista svg {
  position: relative;
  top: 6px;
}

.lista a {
  display: flex;
  align-items: center;
  gap: 1rem;
  font: 400 2.2rem/1.9rem var(--fontDisplay);
}

@media (max-width: 768px) {
  .contato {
    margin: 5rem auto 10rem auto;
  }
  .lista a {
    font-size: 1.8rem;
  }
  .lista svg {
    width: 32px;
    height: 32px;
  }
}
