.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
  border-radius: 0 0 24px 24px;
  color: white;
  background: var(--c1);
  font: 400 2rem/1 var(--fontDisplay);
  padding: 0.5rem 0rem 1rem 0;
  max-width: 800px;
}
