.intro {
  display: grid;
  justify-items: center;
  margin: 15rem auto;
  padding: 0 4rem;
}

.mouse {
  margin-top: 6rem;
}

.button {
  border-radius: var(--borderRadius);
  padding: 0.8rem 3rem 1rem 3rem;
  font: 700 2rem/1 var(--fontDisplay);
  color: var(--bgcolor);
  border: none;
  cursor: pointer;
  margin-top: 4rem;
  box-shadow: 0px 7px 40px rgba(50, 38, 189, 0.21);
  background: linear-gradient(270.4deg, #271bb5 -27.9%, #4f43d1 118.28%);
}

@media (max-width: 768px) {
  .subTitle {
    justify-self: start;
  }
  .intro {
    margin: 5rem auto;
    padding: 0 2rem;
  }
}
