.intro {
  display: grid;
  justify-items: center;
  margin: 15rem auto;
  padding: 0 4rem;
  overflow-x: clip;
}

.mouse {
  margin-top: 6rem;
}

.button {
  border-radius: var(--borderRadius);
  padding: 0.8rem 3rem 1rem 3rem;
  font: 700 2rem/1 var(--fontDisplay);
  color: var(--bgcolor);
  border: none;
  cursor: pointer;
  margin-top: 4rem;
  box-shadow: 0px 7px 40px rgba(50, 38, 189, 0.21);
  background: var(--primaryColor);
}

@media (max-width: 768px) {
  .subTitle {
    justify-self: start;
  }
  .intro {
    margin: 10rem auto 5rem auto;
    padding: 0 1rem;
  }
  .button {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
  }
}
