.arrow {
  animation: UpAndDown 1s infinite alternate;
}
.svg {
  overflow: visible;
}

@keyframes UpAndDown {
  from {
    transform: translateY(-1px);
  }
  from {
    transform: translateY(10px);
  }
}
