.wrapperProjetos {
  padding: 10rem 0;
  box-shadow: 0 0 60px 0 #5e5e5e;
  background: linear-gradient(
    90deg,
    #000418 -30.52%,
    #000000 21.47%,
    #000000 67.71%,
    #1a0107 122.15%
  );
}

.projetos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 2rem 1rem;
  padding: 0px 4rem;
}

.projetos > h1 {
  text-align: center;
  grid-column: 1/-1;
}

.projetos > div:nth-child(odd) {
  margin-top: 30rem;
  justify-self: end;
}
.projetos > div:nth-child(even) {
  margin-top: 5rem;
  justify-self: start;
}

