.formacao::before,
.contato::before,
.contato::after,
.formacao::after {
  content: "";
  position: absolute;
  width: 95%;
  align-self: center;
  justify-self: center;
  height: 85%;
  display: inline-block;
  background: var(--gradiente);
  background-size: 400%;
  z-index: -1;
  animation: animate 10s linear infinite;
  border-radius: var(--borda-redonda);
}

.contato::after,
.contato::before {
  height: 65%;
}

.contato::after,
.formacao::after {
  filter: blur(50px);
}

.formacao-bloco,
.contato-bloco {
  border-radius: var(--borda-redonda);
  background-color: white;
  padding: 30px 60px;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}
