@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/IBM-Plex-Mono/IBMPlexMono-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/IBM-Plex-Mono/IBMPlexMono-Medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Nunito/Nunito-Regular.ttf") format("truetype");
  font-display: swap;
}

:root {
  --fonte-display: "IBM Plex Mono", monospace;
  --fonte-texto: "Nunito", sans-serif;

  --gradiente: linear-gradient(
    265deg,
    #2515db 0%,
    #ad26dd 24.63%,
    #dd2631 44.44%,
    #ddd626 62.65%,
    #90dd26 83.53%,
    #26ddbc 102.81%
  );

  --c1: #262f38;
  --c2: #383737;

  --obj: #a86ac9;
  --const: #c96930;
  --str: #668946;
  --chaves: #ffca19;

  --b1: #fdfdfd;
  --b2: #fff;

  --borda-redonda: 12px;
  --sombra: 0px 13px 4px rgba(201, 201, 201, 0.48);
  --largura-max: 1200px;
}

body {
  background-color: var(--b1);
  /* overflow-x: hidden; */
  outline: 4px solid black;
}

.const {
  color: var(--const);
}

.obj {
  color: var(--obj);
}

.str {
  color: var(--str);
}

.chaves {
  color: var(--chaves);
}

.formacao-lista,
.contato-lista {
  font: 500 1.56rem/1.4 var(--fonte-display);
}

.linha {
  display: flex;
  flex-direction: row;
  padding-left: 60px;
}

* {
  margin: 0;
  padding: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

li {
  list-style: none;
}

.titulo {
  color: var(--c1);
  font: 400 2.81rem/1.4 var(--fonte-display);
}

.container {
  margin: 0 auto;
  max-width: var(--largura-max);
  padding: 60px 30px;
}

.texto {
  font: 400 1.25rem/1.4 var(--fonte-texto);
}

.titulos-box {
  display: flex;
  gap: 30px;
  align-items: center;
}

.obj[id$="titulo"],
.titulos-box {
  font: 400 2.5rem/1.4 var(--fonte-display);
}

.linha > .obj {
  position: relative;
}

.linha > .str::after {
  content: ",";
  color: var(--c1);
  display: inline;
}
