.formacao-bloco::before,
.formacao-bloco::after,
.gradiente::before,
.gradiente::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 5%;
  display: inline-block;
  background: var(--gradiente);
  background-size: 600%;
  z-index: -1;
  animation: animate 15s linear infinite;
  border-radius: var(--borda-redonda);
}

.formacao-bloco::before {
  align-self: start;
  justify-self: center;
}

.gradiente,
.formacao-bloco {
  display: grid;
}

.formacao-bloco::after {
  align-self: end;
  justify-self: center;
}

.gradiente::after {
  align-self: start;
  justify-self: start;
  width: 5%;
  height: 90%;
}
.gradiente::before {
  justify-self: end;
  width: 5%;
  height: 90%;
}

.contato::after,
.contato::before {
  height: 65%;
}

.contato::after,
.formacao-bloco::before,
.formacao-bloco::after,
.gradiente::after,
.gradiente::before {
  filter: blur(30px);
  border-radius: 30px;
  opacity: 0.6;
}

.formacao-bloco,
.contato-bloco {
  border-radius: var(--borda-redonda);
  background-color: white;
  padding: 30px 60px;
}

@keyframes animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
