.header {
  background: rgba(255, 255, 255, 0.58);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}

.nav-list li a {
  font: 400 1.25rem/1 var(--fonte-texto);
  color: var(--c1);
}

.header-fixo {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1;
  margin: 0 auto;
}

.header-fixo .header-img {
  padding-left: 60px;
}
.header-fixo .nav {
  padding-right: 60px;
}
